// tabs
.g-am-init {
	.am-tabs-bar {
		background: white!important;
	}
	.am-tabs-tab-active {
		color: #fe9053!important;
	}

	.am-tabs-ink-bar {
		background-color: #fe9053!important;
	}

}

.am-tabs-content .am-tabs-tabpane {
	/*0.8.1->0.8.4*/
	background: none!important;
}
.am-init-fixed .am-tabs-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 8;
}
@mixin formatResize($scale) {
	// 针对表单
	.g-am-init {
		.am-list-content {
			font-size: 26px / $scale !important;
			color: #4d4d4d!important;
		}
		.am-list-item {
			padding-left: 20px / $scale !important;
		}
		.am-list-extra {
			font-size: 26px / $scale !important;
		}
		.am-input-label {
			font-size: 26px / $scale !important;
			color: #4d4d4d !important;
		}
		.am-input-control input {
			font-size: 26px / $scale !important;
			color: #4d4d4d!important;
		}
		.am-input-control input::-webkit-input-placeholder {
			font-size: 26px / $scale !important;
		}
		.am-tabs-bar .am-tabs-tab{
			font-size: 26px / $scale !important;
		}
	}
}

@include formatResize(1);
.g-init-echart {
	@include formatResize(2);
}
