.order-express {
  margin-bottom: 10px;
} 
.order-express .w-col-2 {
  width: 12%;
}
.order-express .w-col-9 {
  width: 79.6%;
}
.order-express {
  background: white;
  padding: 10px 0;
  line-height: 60px;
  border-bottom: 1px solid #e6e9ed;
  margin-bottom: 10px;
}
.order-express i {
  line-height: 120px;
  font-size: 40px;
}
.order-express .w-twoline {
  line-height: 30px;
  font-size: 24px;
  color: #999;
  height: 60px;
}
.none-addr{
  line-height:120px;
}