.user-header{
	background:white;
	padding:20px;
	img{
		width: 80px;
		height: 80px;
		border-radius: 100%;
		margin-right:10px;
		float:left;
	}
}
.user-order {
	margin: 10px 0 0;
	background:white;
	border-bottom:1px solid #d9d9d9;
}
.user-order .w-col-6 {
	line-height: 60px;
	border-bottom:1px solid #d9d9d9;
}
.user-order .order-list div.iconfont {
	font-size: 50px;
	line-height: 70px;
	color:#333;
}
.user-order .order-list a {
	position: relative;
	width: 25%;
	float: left;
	padding:10px 0;
}
.user-order span {
	position: absolute;
	top: 8px;
	right:10px;
	color:white;
	font-size: 20px;
	background-color: red;
	border-radius:100%;
	width:36px;
	height:36px;
	line-height: 36px
}
.user-list {
	background:white;
	padding:0 20px
}
.user-list i {
	font-size:36px;
	padding-right:10px
}
.user-list {
	line-height: 80px;
	margin-bottom: 10px
}
.user-list a:not(:last-child) {
	border-bottom: 1px solid #e6e9ed;
	display:block;
	overflow: hidden;
}
.user-list b {
	color:#db4453;
}