.circle{
    width:400px;
    height:400px;
    position:relative;
    border-radius:50px;
    font-size:60px;
    color:#545454;
    background:#ececec;
    line-height:100px;
    text-align:center;
    div{
        &:not(:first-child){
            cursor:pointer;
            position:absolute;
            font-size:20px;
            background:#fcfcfc;
            line-height:50px;
        }
        &:nth-child(2){
            width:80%;
            right:10%;
            bottom:100px;
        }
        &:nth-child(3){
            width:100px;
            left:40px;
            bottom:10px;
        }
        &:nth-child(4){
            width:100px;
            right:40px;
            bottom:10px;
        }
    }

}
