.w-payment{
	min-height:300px;
	padding-left:20px;
	li:before,li:after{
		font-family: "iconfont" !important;
		font-size: 40px;
		padding:0 20px;
		float:left;
		width: 12%;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke-width: 0.2px;
		-moz-osx-font-smoothing: grayscale;
	}
	.w-wxpay:before{
		content:"\e65f";
		color:#14d212
	}
	.w-alipay:before{
		content:"\e63d";
		color:#10aeff
	}
	.w-income:before{
		content:"\e64e";
		color:#f60
	}
	.pay-checked:after{
		content:"\e654";
		float:right;
		color:#f1765a;
	}
	li{
		overflow:hidden;
		width:100%;
		padding:20px;
		border-bottom:1px solid #d9d9d9
	}

}