@charset "utf-8";
/**
 * reset
 */
html {
	font-size: 625% !important;// 针对antd-mobile
}
@mixin formatResize($scale) {
	font-family: 'Microsoft YaHei','Helvetica'!important;
	line-height: 40px / $scale !important;
	font-size: 26px / $scale !important;
	background: #efeff4!important;
	color: #4d4d4d;
	background-color: #f5f5f9!important;
}
body{
	@include formatResize(1);
}
body.g-init-echart {
	@include formatResize(2);
}

#pages,
[class*="scroll-wrap-content"] {
	overflow: auto;
}
.g-warp-scroll,
[class*="scroll-container"]  {
	-webkit-overflog-scrolling: touch;
	overflog-scrolling: touch;
	overflow: auto;
}

@mixin formatResize($scale) {
	/**
	 * iconfont 
	 * 初始化，无视
	 */
	.iconfont {
		font-size: 32px / $scale;
	}
	/**
	 * g-two-lh 
	 * 两行文字 限高
	 */
	.g-two-lh {
		height: 72px / $scale;
		line-height: 32px / $scale;
	}
	/**
	 * g-two-lh 
	 * 一行文字 限高
	 */
	.g-one-lh {
		height: 32px / $scale;
		line-height: 32px / $scale;
	}
	/**
	 * line-height
	 */
	.g-lh-44 {
		line-height: 44px / $scale;
	}
	.g-lh-60 {
		line-height: 60px / $scale;
	}
	.g-lh-72 {
		line-height: 72px / $scale;
	}
	.g-lh-80 {
		line-height: 80px / $scale;
	}
	.g-lh-88 {
		line-height: 88px / $scale;
	}
	.g-lh-120 {
		line-height: 120px / $scale;
	}
	/**
	 * font-size
	 */
	.g-fs-10 {
		font-size: 10px / $scale !important;
	}
	.g-fs-20 {
		font-size: 20px / $scale !important;
	}
	.g-fs-22 {
		font-size: 22px / $scale !important;
	}
	.g-fs-24 {
		font-size: 24px / $scale !important;
	}
	.g-fs-26 {
		font-size: 26px / $scale !important;
	}
	.g-fs-28 {
		font-size: 28px / $scale !important;
	}
	.g-fs-34 {
		font-size: 34px / $scale !important;
	}
	.g-fs-40 {
		font-size: 40px / $scale !important;
	}
	.g-fs-50 {
		font-size: 50px / $scale !important;
	}
	.g-fs-100 {
		font-size: 100px / $scale !important;
	}
	/**
	 * 布局辅助
	 */
	.g-pd {
		padding: 20px / $scale;
	}
	.g-pd-btn {
		padding: 10px / $scale 15px / $scale;
	}
	.g-pd-l {
		padding-left: 20px / $scale;
	}
	.g-pd-r {
		padding-right: 20px / $scale;
	}
	.g-pd-lr {
		padding-left: 15px / $scale;
		padding-right: 15px / $scale;
	}
	.g-pd-t {
		padding-top: 20px / $scale;
	}
	.g-pd-b {
		padding-bottom: 20px / $scale;
	}
	.g-pd-tb {
		padding-top: 10px / $scale;
		padding-bottom: 10px / $scale;
	}
	.g-pd-t-10 {
		padding-top: 10px / $scale;
	}
	.g-pd-t-15 {
		padding-top: 15px / $scale;
	}
	.g-m-r {
		margin-right: 10px / $scale;
	}
	.g-m-t {
		margin-top: 10px / $scale;
	}
	.g-m-l {
		margin-left: 20px / $scale;
	}
	.g-m-b {
		margin-bottom: 10px / $scale;
	}
	.g-m-tb {
		margin-top: 10px / $scale;
		margin-bottom: 10px / $scale;
	}
	.g-m-t-20 {
		margin-top: 20px / $scale;
	}
	.g-m-b-20 {
		margin-bottom: 20px / $scale;
	}
	.g-pdr-15 {
		padding-right: 15px / $scale;
	}
	.g-h-600 {
		height: 600px / $scale !important;
		box-sizing: border-box;
	}
	.g-h-300 {
		height: 300px / $scale;
		box-sizing: border-box;
	}
}
.g-h-full {
	height: 100vh
}
.g-h-5 {
	height: 5vh
}
@include formatResize(1);
.g-init-echart {
	@include formatResize(2);
}
