/**
 * scrollbar width
 */

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar:horizontal {
	height: 2px;
}


/**
 * scrollbar bg
 */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0);
}


/**
 * Handle
 */

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, .2);
}


/**
 * 背景颜色
 */
[class*="g-bg-"] {
	color: white;
}
[class*="g-bg-"] input {
	color: black;
}
.g-bg-white {
	background: #fff;
	color: inherit;
}
.g-bg-pink {
	background: #F5374D;
}
.g-bg-gray {
	background: #EBEBEB;
	color: inherit;
}
.g-bg-deep {
	background: #9C9C9C;
}
.g-bg-green {
	background: #28c192;
}
.g-bg-blue {
	background: #10aeff;
}
.g-bg-orange {
	background: #f60;
}
/**
 * 文字颜色
 */
.g-gray {
	color: #9C9C9C;
}
.g-pink {
	color: #F5374D;
}
.g-white {
	color: #fff;
}
.g-orange {
	color: #f60;
}
.g-green {
	color: #06bf04;
}
.g-blue {
	color: #10aeff;
}
/**
 * 微信内二维码处理 点击区域加大
 */
.g-qrcode {
	padding: 30%;
	height: 100%;
	width: 100%;
	margin-top: -25%;
	margin-bottom: -25%;
}
/**
 * 针对fixed/input不友好情况做处理
 */
.g-relative {
	position: relative!important;
}
.g-absolute {
	position: absolute!important;
}
/**
 * fixed外层这只高宽
 */
.g-reset-fixed {
	position: fixed;
	z-index: 30;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
/**
 * 弹出层
 */
.g-bg-fixed {
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	animation: g-opacity .4s ease;
	-webkit-animation: g-opacity .4s ease;
}
@keyframes g-opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.g-fixed {
	position: fixed;
	width: 100%;
	z-index: 12;
	background: white;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: wds-fixed .5s ease;
	-webkit-animation: wds-fixed .5s ease;
}
.g-fixed-top {
	position: fixed;
	width: 100%;
	z-index: 12;
	background: white;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: wds-fixed-top .5s ease;
	-webkit-animation: wds-fixed-top .5s ease;
}
@mixin formatResize($scale) {
	@keyframes wds-fixed {
		from {
			bottom: -760px / $scale;
		}
		to {
			bottom: 0;
		}
	}
	@keyframes wds-fixed-top {
		from {
			top: -760px / $scale;
		}
		to {
			top: 0;
		}
	}
	p.g-close-position {
		position: relative;
		line-height: 72px / $scale;
		font-size: 30px / $scale;
		text-align: center
	}
	p.g-close-position i {
		position: absolute;
		top: 0;
		right: 20px / $scale;
	}
	/**
	 * 按钮 + -
	 */
	.g-btn-step {
		width: 70px / $scale;
		height: 50px / $scale;
		line-height: 50px / $scale;
		border-radius: 6px / $scale;
		border: 2px / $scale solid #e6e9ed;
		text-align: center;
		color: #333 / $scale;
		float: left;
	}
	.g-btn-step:active {
		background: #eee !important;
	}
	.g-btn-input {
		width: 100px / $scale;
		height: 50px / $scale;
		text-align: center;
		border: 2px / $scale solid #e6e9ed;
		-webkit-appearance: none;
		appearance: none;
		float: left;
	}
	.g-btn-red {
		display: block;
		color: #fff;
		background-color: #f5374d;
		margin: auto;
		margin-bottom: 20px / $scale;
		width: 80%;
		font-size: 28px / $scale;
		padding: 15px / $scale;
		border-radius: 10px / $scale;
		text-align: center;
	}
	.g-btn-white {
		display: block;
		color: #000;
		background-color: #fff;
		margin: auto;
		width: 80%;
		padding: 15px / $scale;
		font-size: 28px / $scale;
		border-radius: 10px / $scale;
		text-align: center;
	}
	.g-btn-blue {
		display: block;
		color: #fff;
		background-color: #00CD66;
		margin: auto;
		width: 80%;
		padding: 15px / $scale;
		font-size: 28px / $scale;
		border-radius: 10px / $scale;
		text-align: center;
	}
	.g-slide {
		height: 0px;
		overflow: hidden;
		transition: height 0.3s ease-in-out 0s;
		-webkit-transition: height 0.3s ease-in-out 0s;
	}
	.g-slide.active {
		transition: height 0.5s ease-in-out 0s;
		-webkit-transition: height 0.5s ease-in-out 0s;
	}
	.g-img-110 {
		max-width: 110px / $scale !important;
		width: 110px / $scale !important;
		height: 110px / $scale !important;
	}
	.g-img-120 {
		max-width: 120px / $scale !important;
		width: 120px / $scale !important;
		height: 120px / $scale !important;
	}
	.g-img-140 {
		max-width: 140px / $scale !important;
		width: 140px / $scale !important;
		height: 140px / $scale !important;
	}
	.g-img-160 {
		max-width: 160px / $scale !important;
		width: 160px / $scale !important;
		height: 160px / $scale !important;
	}
	.g-img-170 {
		max-width: 170px / $scale !important;
		width: 170px / $scale !important;
		height: 170px / $scale !important;
	}
}

@include formatResize(1);
.g-init-echart {
	@include formatResize(2);
}
