@charset "utf-8";

body {
	font-family: 'Microsoft YaHei','Helvetica'!important;
	line-height: 20px!important;
	font-size: 13px!important;
	background: #efeff4!important;
	color: #4d4d4d;
	background-color: #fff!important;
	/* overflow:hidden; */
}
#pages,[class*="scroll-wrap-content"]{
	overflow:auto;
}
.g-warp-scroll{
	-webkit-overflog-scrolling: touch;
	overflog-scrolling: touch;
	overflow:auto;
}

/**
 * g-two-lh 
 * 两行文字 限高
 */
.g-two-lh{
	height:36px;
	line-height: 18px;
}
/**
 * g-two-lh 
 * 一行文字 限高
 */
.g-one-lh{
	height:16px;
	line-height: 16px;
}
/**
 * line-height
 */
.g-lh-22{
	line-height: 22px;
}
.g-lh-30{
	line-height: 30px;
}
.g-lh-36{
	line-height: 36px;
}
.g-lh-40{
	line-height: 40px;
}
.g-lh-44{
	line-height: 44px;
}
.g-lh-60{
	line-height: 60px;
}
/**
 * font-size
 */
.g-fs-12{
	font-size: 12px!important;
}
.g-fs-13{
	font-size: 13px!important;
}
.g-fs-14{
	font-size: 14px!important;
}
.g-fs-17{
	font-size: 17px!important;
}
.g-fs-20{
	font-size: 20px!important;
}
.g-fs-25{
	font-size: 25px!important;
} 
.g-fs-50{
	font-size: 50px!important;
}

/**
 * 布局辅助
 */
.g-pd {
	padding: 10px;
}
.g-pd-btn{
	padding: 10px 8px;
}
.g-pd-l {
	padding-left:10px;
}
.g-pd-r {
	padding-right:10px;
}
.g-pd-lr {
	padding-left:8px;
	padding-right:8px;
}
.g-pd-t {
	padding-top: 10px;
}
.g-pd-b {
	padding-bottom: 10px;
}
.g-pd-tb {
	padding-top: 10px;
	padding-bottom: 10px;
}
.g-pd-t-8{
	padding-top: 8px;
}
.g-m-t {
	margin-top:10px;
}
.g-m-l {
	margin-left:10px;
}
.g-m-b {
	margin-bottom:10px;
}
.g-m-tb{
	margin-top:10px;
	margin-bottom:10px;
}
.g-m-t-10{
	margin-top:10px;
}
.g-m-b-10{
	margin-bottom:10px;
}
.g-pdr-8{
	padding-right:8px;
}
.g-ct-title{
	padding: 15px;
	border-bottom: 1px solid #999;
}

.g-label-req{
	width:100px;
	display:inline-block;
	text-align:right;
	padding-right:5px;
	box-sizing:border-box;
	&:before{
		display: inline-block;
		margin-right: 4px;
		content: "*";
		line-height: 1;
		font-size: 12px;
		color: #f04134;
	}
}