.order-express {
  margin-bottom: 10px;
}
.order-express .w-col-2 {
  width: 12%;
}
.order-express .w-col-9 {
  width: 79.6%;
}
.order-express {
  background: white;
  padding: 10px 0;
  line-height: 60px;
  border-bottom: 1px solid #e6e9ed;
  margin-bottom: 10px;
}
.order-express i {
  line-height: 120px;
  font-size: 40px;
}
.order-express .w-twoline {
  line-height: 30px;
  font-size: 24px;
  color: #999;
  height: 60px;
}
.none-addr{
  line-height:120px;
}
.order-goods {
  margin-bottom: 10px;
}
.order-goods li {
  width: 100%;
  padding: 10px 20px;
  background: white;
  position: relative;
  font-size: 24px;
  overflow: hidden;
  border-bottom: 1px solid #e6e9ed;
}
.order-goods p {
  font-size: 28px;
}
.order-goods img {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  border-radius: 1px;
}
.order-goods span {
  color: white;
  background: #ff3434;
  margin-right: 10px;
  padding: .40px;
  line-height: 24px;
  font-size: 20px;
  display: inline-block;
  border-radius: 2px;
}
.order-goods b {
  color: #fc6e51;
}
.order-goods .order-goods-props {
  color: #999;
}
.order-goods .order-goods-edit {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.order-goods .order-goods-edit div {
  margin: 0 10px;
  line-height: 50px;
}

.order-logis .w-row {
  border-bottom: 1px solid #e6e9ed;
}
.order-logis, 
.order-memo {
  background: white;
}
.order-memo {
  border-bottom: 1px solid #e6e9ed;
  margin-bottom: 10px;
}
.order-amount {
  background: white;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e9ed;
}
.order-amount li {
  width: 100%;
  padding: 20px 0;
}
.order-amount li:not(:last-child) {
  border-bottom: 1px solid #e6e9ed;
}
.order-amount div {
  color: #fc6e51;
  float: right;
}
.order-pay {
  width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 0;
  background: white;
  border-top: 1px solid #e6e9ed;
}
.order-pay .btn-order-pay {
  line-height: 100px;
  color: white;
  background: #ff6765;
  float: right;
}
.order-pay .w-col-9 {
  margin-top: 10px;
  font-size: 28px;
  width: 70%;
}
.order-pay .w-col-3 {
  width: 30%;
}
.order-pay b {
  color: #ff3434;
}

.select-addr {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 22;
}

.select-addr {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 22;
}
.select-addr li {
  width: 100%;
  border-bottom: 1px solid #e6e9ed;
  overflow: hidden;
  padding: 20px 0;
}
.select-addr li label {
  float: left;
  width: 16.6%;
  height: 100px;
  padding: 30px;
  padding-left: 5%;
}
.select-addr .w-twoline {
  line-height: 30px;
  font-size: 24px;
  color: #999;
  height: 60px;
}

.order-send {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 22;
}
.order-send .pay-way {
  height: 300px;
}
.order-send .pay-way label {
  width: 100%;
  display: block;
  padding: 20px 0;
}
.order-send .pay-way label:not(:last-child) {
  border-bottom: 1px solid #e6e9ed;
}
.order-send b {
  color: #fc6e51;
}
.order-send i {
  font-size: 40px;
}

.address-item li {
  border-bottom: 1px solid #e6e9ed;
  overflow: hidden;
  padding: 20px 0;
}
.address-item li i {
  line-height: 100px;
  font-size: 40px;
  color: #fc6e51;
  padding-left: .40px;
  text-align:center
}
.address-item li .w-twoline {
  font-size: 24px;
  line-height: 30px;
  color: #999;
}

.logis-select {
  width: 100%;
  overflow: hidden;
  line-height: 80px;
  border-bottom: 1px solid #e6e9ed;
  padding: .120px 20px;
}
.logis-select input {
  margin-top: 20px;
  display: inline-block;
}
.logis-select i {
  padding-right: 20px;
  font-size: 50px;
  color: #fc6e51;
}
.logis-select .w-col-11 {
  padding-right: 20px;
}
.logis-select .logis-label {
  height: 80px;
}
.logis-select .logis-label label {
  display: inline-block;
  height: 40px;
}

.js-fullcut-item {
  padding: 0 20px;
}
.js-fullcut-item li {
  overflow: hidden;
  width: 100%;
  line-height: 80px;
  border-bottom: 1px solid #e6e9ed;
}
