@charset "utf-8";
@mixin bdb($px:1px){
	border-bottom:$px solid #e6e9ed;
}
@mixin bg($color:white){
	background:$color;
}	
.diy-conitem:before,
.diy-conitem:after {
  display: table;
  content: " ";
}
.diy-conitem:after {
  clear: both;
}
.diy-conitem{
	position: relative;
}
.diy-rtf{
	overflow:hidden;
	img{width: 100%}
}
/*title*/
.diy-title{
	width: 100%;
	line-height:80px;
	height:80px;
	color:#fff;
	@include bg(white);
	h3{padding:0 20px;display: inline-block;}
}
.title-style-1{
	background: #28c192;
}
.title-style-2 h3{
    box-shadow: inset 0 -2px 0 0 #f94358;   
    color:#707070;
}
.title-style-3{
	color:#707070;
}
.title-style-3 h3{
	position: absolute;
	z-index: 6;
	@include bg(white);
}
.title-style-3.tr h3{
	right:20px
}
.title-style-3.tc h3{
	right:50%;
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}
.title-style-3.tl h3{
	left:20px;
}
.title-style-3 span{
	position: absolute;
	bottom: 40px;
	left:0;
	height:2px;
	width: 100%;
	background:#d3d3d3;
	z-index: 5
}
.title-style-4{
    border-left: solid 2px #f94358;   
    color:#707070;
}
/*search*/
.diy-search{
	overflow: hidden;
	position: relative;
	input{
		width: 100%;
		border-radius:4px;
		border:1px solid #e6e9ed;
		height:70px;
		padding-left:20px;
		appearance:none;
		-webkit-appearance:none;
		&:focus {
        outline: none;
        border-color: rgba(255,110,81,.5);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(81,167,232,.5);
        + button[type='submit']{
			color:rgba(255,110,81,.8);
        }
      }
	}
	button[type='submit']{
		width: 15%;
		@include bg(white);
		//border:1px solid rgba(0,0,0,0);
		padding-bottom:12px;
		position: absolute;
		border-radius:4px;
		bottom:1px;
		right:2px;
		color:#999
	}
	i{font-size:40px;padding-left:20px;}
}

/*text_nav*/
.diy-text-nav{
	border-radius:2px;
	border:1px solid #e6e9ed;
	a{display:block}
	li{padding:0 20px;width: 100%}
	a:not(:last-child){
		@include bdb(1px);
	}
}
/*img_nav*/
.diy-img-nav-1{
	overflow:hidden;
	li{
		width: 25%;
		float:left;
		position: relative;
		padding:2px;
		img{width: 100%}
		div{
			position: absolute;
			width: 80%;
			border-radius:30px;
			text-align:center;
			color:white;
			right:50%;
			transform: translateX(50%);
			-webkit-transform: translateX(50%);
			bottom:10px;
			text-align: center;
		    white-space: nowrap;
		    text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
.diy-img-nav-3{
	overflow:hidden;
	li{
		width: 49%;
		float:left;
		position: relative;
		line-height:80px;
		/* margin:.5%; */
		border-radius:4px;
		padding:5px;
		@include bg(white);
		img{width:80px;margin-right:10px;float:left}
		div{
			float:left
		}
	}
}
.diy-img-nav-2{
	overflow:hidden;
	li{
		width: 25%;
		float:left;
		@include bg(white);
		//padding:1px;
		img{width: 100%}
		div{
			text-align:center;
		}
	}
}
.diy-conitem-off{
	border-top: 1px dashed #ddd;
	margin:10px 0;
}
/*top_nav*/
.diy-top-nav-0 li{
	//width: 25%;
	float:left;
	line-height:80px;
}
.diy-top-nav-1{
	img{display: inline-block;width:40px;margin:10px 0;}
	li{
		//width: 25%;
		float:left;
		padding:10px 0;
	}
	
}
/*showcase*/
.diy-showcase-1{
	.w-col-6{position: relative;}
	img{
		width:100%
	}
	span{
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		color:white;
		background:rgba(0,0,0,.4);
		text-align:left
	}
}

.diy-showcase-2{
	.w-col-4{position: relative;width:32%;}
	img{
		width:100%
	}
	span{
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		color:white;
		background:rgba(0,0,0,.4);
		text-align:left
	}
}
/*diy-voice*/
.diy-voice {
    padding:10px
}
.diy-voice .voice-music,.diy-voice {
    position:relative
}
.diy-voice .voice-music .voice-btn,.diy-voice .voice-animation-static,.diy-voice .voice-bar {
    background:url(./img/voice_all.png) no-repeat;
    background-size:800px 350px
}
.diy-voice .voice-logo {
    height:80px;
    width:80px;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.3);
    box-shadow:0 1px 1px rgba(0,0,0,.3)
}
.diy-voice .voice-bar {
    width:370px;
    height:84px;
    display:inline-block;
    position:absolute;
    left:100px;
    cursor:pointer
}
.diy-voice .voice-animation-static {
    background-position:-360px -210px;
    width:26px;
    height:34px;
    display:block;
    position:absolute;
    left:42px;
    top:24px;
    z-index:1
}
.diy-voice .voice-animation-play {
    background:url(./img/player.gif) no-repeat;
    background-size:100% 100%;
    width:26px;
    height:34px;
    display:block;
    position:absolute;
    left:42px;
    top:24px;
    z-index:1;
    opacity:0
}
.diy-voice .voice-logo {
    float:right
}
.diy-voice .voice-bar {
    background-position:-374px 0;
    left:auto;
    right:106px;
}
.diy-voice .voice-bar span{
    line-height: 84px;
    padding-left: 20px;
}

.diy-voice .voice-animation-static {
    background-position:-360px -166px;
    right:42px;
    left:auto
}
.diy-voice .voice-animation-play {
    background:url(./img/green_player.gif) no-repeat;
    background-size:100% 100%;
    right:42px;
    left:auto
}
.diy-voice .voice-music {
    position:relative;
    width:100%;
    height:76px;
    border:1px solid #ddd;
    background-color:#fff;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.diy-voice .voice-music .voice-btn {
    background-position:0 -112px;
    display:block;
    position:absolute;
    cursor:pointer;
    left:20px;
    top:16px;
    width:44px;
    height:44px
}
.diy-voice .voice-music .voice-title {
    position:absolute;
    left:84px;
    top:20px;
    line-height:1em;
    font-size:28px;
    color:#333;
    width:500px;
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.voice-play .voice-music .voice-btn {
    background-position:0 -156px
}
.voice-play .voice-animation-play {
    opacity:1
}
/*diy-goods*/
.diy-goods{
	.goods01{
		.w-col-6 {
			width: 49%;
			margin:0.5%;
			background-color: white;
			border-radius: 2px;
			border: 1px solid #e6e9ed;
			position: relative;
		}
		img {
			width:100%
		}
		.goods-title {
			height: 72px;/*5出现异常,原本3.6*/
			line-height: 36px;
			padding:0 10px;
		}
		.goods-price {
			padding:0 10px;
			color:#fc6e51;
			line-height: 56px;
			i{
				font-size: 50px;
				position: absolute;
				text-align: right;
				width: 100px;
				height:100px;
				bottom: -30px;
				right:10px;
			}
		}
		.goods-active {
			font-size: 22px;
			padding:0 10px;
			b{
				color:#999;
			}
		}
	}
	.goods04{
		.goods-list img {
			width:180px;
			height:180px;
			float:left;
		}
		.w-col-8 {
			padding-left: 20px;
			max-width: 71.875%
		}
		.goods-active {
			margin-top: 20px
		}
		.goods-title {
			height: 72px;
			line-height: 36px;
		}
		.goods-price{
			b{
				color:#999;
				font-size: 22px
			}
			i{
				margin-top: -20px;
				margin-right:-30px;
			}
		}
	}
	.goods02{
		.goods-list img {
			width: 100%
		}
		.goods-title {
			padding:0 10px;
			height:80px;
		}
		.goods-price,
		.goods-active {
			padding:0 10px;
		}
		.goods-price{
			b{
				color:#999;
				font-size: 22px
			}
			span{
				color:#fc6e51;
				font-size: 28px
			}
			i{
			margin-top: -20px
			}
		}
	}
	.goods-title {
		font-size: 28px;
		margin-top: 4px
	}
	.goods-price{
		span {
			color:#fc6e51;
			font-size: 28px;
			display: inline-block;
			font-weight: bold;
		}
		i{
			color:#fc6e51;
			float: right;
			font-size:60px
		}
	}
	.goods-list {
		margin: 0.75%;
		width: 98.5%;
		border-radius: 2px;
		border:1px solid #e6e9ed;
		overflow: hidden;
		background:white;
	}
	.goods-active{
		span {
			font-size: 22px;
			color:white;
			padding:0 2px;
			margin-left: 2px;
			border-radius: 2px
		}
		span[name="seckill"] {
			background:#d82c32;
		}
		span[name="freesend"] {
			background:#3584ef;
		}
		span[name="cutprice"] {
			background:#ef7b14;
		}
	}
}
.diy-slide{
	img{
		width: 100%
	}
}




