.cart-no i {
	width: 200px;
	height:200px;
	line-height:200px;
	font-size:100px;
	border-radius:50%;
	color:white;
	background: #ddd;
	margin:40px 0;
}
.cart-no p {
	color:#999;
}
.cart-no a {
	margin:80px 30% 30px 30%;
	width: 40%;
	padding:10px 60px;
	display: block;
}
.cart-no h3{margin: 30px 0}