.g-ant-layout{
	height: 100%;
	._logo{
		height: 32px;
		background: #333;
		border-radius: 6px;
		margin: 16px;
	}
	.ant-layout-sider-collapsed{
		.anticon{
			font-size: 16px;
			margin-left: 8px;
		}
		._nav-text{
			display: none;
		}
		.ant-menu-submenu-vertical > .ant-menu-submenu-title:after{
			display: none;
		}
	}
	p {
		margin: 10px 0 10px 0;
	}
}
