.init-item.am-list-item{
    padding-left:0;
    margin-left:34px;
}

.init-item .am-list-line{
    margin-left: -34px;
}
.w-am-init{
	.am-input-label{
		font-size: 28px!important;
	}
}

.w-reset{
	
}