html {
    font-size: 625% !important;
    /*1rem=100px*/
}
/* @media(min-width: 375px) {
    html {
    font-size:73.2421875%;
  }
}
@media(min-width: 414px) {
    html {
    font-size:80.859375%;
    font-size:75%;
  }
} */

/*测试的时候把chorme缩放到50%，其他地方不用这个*/
@media (min-width: 828px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 0.5){/*portrait*/
/*transform: scale(0.5); tranform-origin: 0 0;*/
  #pages{
    max-width: 828px;
    margin:0 auto!important;
  }
	.w-bg-fixed{max-width: 828px;}
	.w-fixed{max-width: 828px;}
	.w-media-fixed{max-width: 828px;}
  .am-picker-popup{
    max-width: 828px;
    left:0;
    right:0;
    margin:auto;
  } 
}