html {
    font-size: 62.5% !important;
}
/* @media(min-width: 375px) {
    html {
    font-size:73.2421875%;
  }
}
@media(min-width: 414px) {
    html {
    font-size:80.859375%;
    font-size:75%;
  }
} */
@media (min-width: 414px) and (orientation:landscape){/*portrait*/
  #pages{
    max-width: 414px;
    margin:0 auto!important;
  }
	.w-bg-fixed{max-width: 414px;}
	.w-fixed{max-width: 414px;}
	.w-media-fixed{max-width: 414px;}
  .am-picker-popup{max-width: 414px;left:0;right:0;margin:auto;}
}