html {
    font-size: 640% !important;
}
/* @media(min-width: 375px) {
    html {
    font-size:73.2421875%;
  }
}
@media(min-width: 414px) {
    html {
    font-size:80.859375%;
    font-size:75%;
  }
} */

/*transform: scale(0.5); tranform-origin: 0 0;*/ 
@media (min-width: 824px) and (orientation:landscape){/*portrait*/
  #pages{
    max-width: 640px;
    margin:0 auto!important;
  }
	.w-bg-fixed{max-width: 640px;}
	.w-fixed{max-width: 640px;}
	.w-media-fixed{max-width: 640px;}
  .am-picker-popup{
    max-width: 640px;
    left:0;
    right:0;
    margin:auto;
  } 
}