.v-dnd-frame{
	flex: 0 0 492px;
	background: url(./iphone.png) no-repeat center top;
	height: 937px;
	._content{
		width: 399px; // 有滚动条
		padding-bottom: 20px;
		overflow: scroll;
		margin: auto;
		margin-top:106px;
		background: #ededf4;
		position: relative;
		&::-webkit-scrollbar {
			width: 2px;
		}
	}
}